In [4]:
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt

In [26]:
def read_json(file):
    reader = pd.read_json(f"Data/{file}.json")
    return reader[['onetsoc_code','element_id', 'scale_id', 'data_value']]

In [32]:
knowledge = read_json("knowledge")
work_activities = read_json("work_activities")

In [36]:
work_activities.head(10)

  onetsoc_code element_id scale_id  data_value
0   11-1011.00  4.A.1.a.1       IM        4.72
1   11-1011.00  4.A.1.a.1       LV        5.35
2   11-1011.00  4.A.1.a.2       IM        3.68
3   11-1011.00  4.A.1.a.2       LV        4.76
4   11-1011.00  4.A.1.b.1       IM        4.20
5   11-1011.00  4.A.1.b.1       LV        4.91
6   11-1011.00  4.A.1.b.2       IM        2.38
7   11-1011.00  4.A.1.b.2       LV        2.11
8   11-1011.00  4.A.1.b.3       IM        3.59
9   11-1011.00  4.A.1.b.3       LV        3.72

In [42]:
knowledge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63806 entries, 0 to 63805
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   onetsoc_code  63806 non-null  object
 1   element_id    63806 non-null  object
 2   scale_id      63806 non-null  object
 3   data_value    63806 non-null  float64
dtypes: float64(1), object(3)
memory usage: 1.9+ MB